<div id="fh5co-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>This is the intro section</h1>
            </div>
        </div>
    </div>
</div>

