<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT docBase ANY>
<!ATTLIST docBase id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="1aa6e69e-c232-47fa-913f-ea78cfccae6a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-22T15:03:38" updateDate="2017-07-22T22:42:10" nodeName="Site home" urlName="site-home" path="-1,1059" isDoc="" nodeType="1057" creatorName="Ed" writerName="Ed" writerID="0" template="1052" nodeTypeAlias="home">
    <title><![CDATA[home page]]></title>
    <description><![CDATA[home description]]></description>
    <shareImage><![CDATA[umb://media/b93f8e934431497696d9a6e3c3c63544]]></shareImage>
    <docTitle><![CDATA[title]]></docTitle>
    <contact id="1062" key="6da7eee3-fcd5-4b77-9268-fd6bfd579415" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2017-07-22T18:30:25" updateDate="2017-07-23T11:58:49" nodeName="Contact" urlName="contact" path="-1,1059,1062" isDoc="" nodeType="1061" creatorName="Ed" writerName="Ed" writerID="0" template="1060" nodeTypeAlias="contact">
      <title><![CDATA[Contact Us!]]></title>
      <description><![CDATA[Contact Us!]]></description>
      <hideInNav>0</hideInNav>
    </contact>
    <article id="1069" key="54014181-26e8-4995-8378-60a30826c19a" parentID="1059" level="2" creatorID="0" sortOrder="1" createDate="2017-07-23T11:17:53" updateDate="2017-07-23T15:09:53" nodeName="test one" urlName="test-one" path="-1,1059,1069" isDoc="" nodeType="1066" creatorName="Ed" writerName="Ed" writerID="0" template="1067" nodeTypeAlias="article">
      <title><![CDATA[test one]]></title>
      <description><![CDATA[test one]]></description>
      <hideInNav>0</hideInNav>
      <bodyText><![CDATA[{
  "name": "2 column layout",
  "sections": [
    {
      "grid": 8,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {
                "class": "img-responsive"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<h2><span class=\"SubTitle\">Add Title Here</span></h2>\n<p> <img id=\"__mcenew\" class=\"img-responsive\" src=\"/media/1001/ted.jpg?width=219&amp;height=97\" alt=\"\" width=\"219\" height=\"97\" data-udi=\"umb://media/b93f8e934431497696d9a6e3c3c63544\" /></p>\n<p>blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text blah blah text</p>\n<h3>Ending title</h3>\n<p>ending text....</p>\n<p> </p>\n<p><img id=\"__mcenew\" src=\"/media/1001/ted.jpg\" alt=\"\" data-udi=\"umb://media/b93f8e934431497696d9a6e3c3c63544\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                },
                {
                  "value": "This is a quoteThis is a quoteThis is a quoteThis is a quoteThis is a quote",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "4c19adba-4670-55b4-3f2f-e1ec293cebd5",
          "hasActiveChild": true,
          "active": true
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2>List Title</h2>\n<ul>\n<li>blah right hand column</li>\n<li>blah right hand column</li>\n<li>blah right hand column</li>\n<li>blah right hand column</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "045a9d88-35cf-95e4-39cb-7aa93e56b780"
        }
      ]
    }
  ]
}]]></bodyText>
      <article id="1071" key="3ba85694-81f9-4554-bc33-adf016fcecd4" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2017-07-23T12:05:06" updateDate="2017-07-23T12:15:15" nodeName="test two" urlName="test-two" path="-1,1059,1069,1071" isDoc="" nodeType="1066" creatorName="Ed" writerName="Ed" writerID="0" template="1067" nodeTypeAlias="article">
        <title><![CDATA[test two title]]></title>
        <description><![CDATA[test two description]]></description>
        <hideInNav>1</hideInNav>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2>This is my Full page content</h2>\n<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>\n<p> </p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "da4e84e2-b714-e8d0-5713-3bac1d40ab8f"
        },
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "My Smaller quote box",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2>This is my sub content </h2>\n<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "5130f470-3a31-153c-c9a0-e80cde940704"
        }
      ]
    }
  ]
}]]></bodyText>
      </article>
      <article id="1072" key="7ad69aa5-7b41-4370-a577-bfffb223ddfb" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2017-07-23T12:11:01" updateDate="2017-07-23T12:15:21" nodeName="test three" urlName="test-three" path="-1,1059,1069,1072" isDoc="" nodeType="1066" creatorName="Ed" writerName="Ed" writerID="0" template="1067" nodeTypeAlias="article">
        <title><![CDATA[test three title]]></title>
        <description><![CDATA[test three description]]></description>
        <hideInNav>1</hideInNav>
        <bodyText><![CDATA[{
  "name": "3 column",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {
                "class": "img-responsive"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" class=\"img-responsive\" src=\"/media/1001/ted.jpg?width=400&amp;height=200\" alt=\"\" width=\"400\" height=\"200\" data-udi=\"umb://media/b93f8e934431497696d9a6e3c3c63544\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "93ef47fb-2951-8adb-e3ea-1a6486f0c8fd"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2>This is my Content</h2>\n<p> </p>\n<p>blah blah blah blah blah </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "0bf34fcd-ad6e-229b-b8dd-3ac757cd3a0a"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "This is My QuoteThis is My QuoteThis is My QuoteThis is My QuoteThis is My QuoteThis is My QuoteThis is My QuoteThis is My QuoteThis is My Quote",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "71b48a9e-4d8c-1e16-3ca7-fca4b0cd74b8"
        }
      ]
    }
  ]
}]]></bodyText>
      </article>
      <article id="1073" key="ec88c950-b88b-4214-8853-c0aecfbb50ef" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2017-07-23T22:08:31" updateDate="2017-07-23T22:09:19" nodeName="test4" urlName="test4" path="-1,1059,1069,1073" isDoc="" nodeType="1066" creatorName="Ed" writerName="Ed" writerID="0" template="1067" nodeTypeAlias="article">
        <title><![CDATA[test4]]></title>
        <description><![CDATA[test4]]></description>
        <hideInNav>1</hideInNav>
        <bodyText><![CDATA[{
  "name": "3 column",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" src=\"/media/1001/ted.jpg?width=1087&amp;height=483\" alt=\"\" width=\"400\" height=\"200\" data-udi=\"umb://media/b93f8e934431497696d9a6e3c3c63544\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "daf3e63d-4290-c345-c38f-7764fdac2afc",
          "hasActiveChild": true,
          "active": true
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>text blah blah</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "98f349a2-ec3d-e6a2-0dae-9a199d55ddd8"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "This is my quote",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "240d0411-b5c5-2c26-cbd2-071ac40c4f91"
        }
      ]
    }
  ]
}]]></bodyText>
      </article>
    </article>
  </home>
</root>