<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT docBase ANY>
<!ATTLIST docBase id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="1aa6e69e-c232-47fa-913f-ea78cfccae6a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-22T15:03:38" updateDate="2017-07-22T15:04:07" nodeName="Site home" urlName="site-home" path="-1,1059" isDoc="" nodeType="1057" creatorName="Ed" writerName="Ed" writerID="0" template="1052" nodeTypeAlias="home">
    <title><![CDATA[home page]]></title>
    <description><![CDATA[home]]></description>
    <shareImage><![CDATA[umb://media/b93f8e934431497696d9a6e3c3c63544]]></shareImage>
    <docTitle><![CDATA[title]]></docTitle>
  </home>
</root>