<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT docBase ANY>
<!ATTLIST docBase id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="1aa6e69e-c232-47fa-913f-ea78cfccae6a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-22T15:03:38" updateDate="2017-07-22T22:42:10" nodeName="Site home" urlName="site-home" path="-1,1059" isDoc="" nodeType="1057" creatorName="Ed" writerName="Ed" writerID="0" template="1052" nodeTypeAlias="home">
    <title><![CDATA[home page]]></title>
    <description><![CDATA[home description]]></description>
    <shareImage><![CDATA[umb://media/b93f8e934431497696d9a6e3c3c63544]]></shareImage>
    <docTitle><![CDATA[title]]></docTitle>
    <contact id="1062" key="6da7eee3-fcd5-4b77-9268-fd6bfd579415" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2017-07-22T18:30:25" updateDate="2017-07-22T20:38:58" nodeName="Contact" urlName="contact" path="-1,1059,1062" isDoc="" nodeType="1061" creatorName="Ed" writerName="Ed" writerID="0" template="1060" nodeTypeAlias="contact">
      <title><![CDATA[Contact Us!]]></title>
      <description><![CDATA[Contact Us!]]></description>
      <docTitle><![CDATA[Contact Us!]]></docTitle>
    </contact>
  </home>
</root>